.container {
    min-height: calc(100vh - 100px) /* you have to minus header and footer width
      together*/
}

footer {
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px; /* remove bottom whitespace */
    padding-bottom: 5px;
    height: 100px; /* calc height when limited content */
}