<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Información de la película</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- <div th:if="${pelicula}">
            <h3>Los datos de la película son:</h3>
            <p>Id de la película:<span th:text="${pelicula.idPelicula}"></span> </p>
            <p>Título: <span th:text="${pelicula.titulo}"></span></p>
            <p>Año de producción <span th:text="${pelicula.anyo}"></span></p>
        </div>-->

            <div th:if="${pelicula}" th:object="${pelicula}">
                <h3>Los datos de la película son:</h3>
                <p>Id de la película:<span th:text="*{idPelicula}"></span> </p>
                <p>Título: <span th:text="*{titulo}"></span></p>
                <p>Año de producción <span th:text="*{anyo}"></span></p>
            </div>

        <div th:unless="${pelicula}">
            <h2 th:text="${msg}"> </h2>
        </div>

        <div><a th:href="@{/pelicula}"> Volver </a></div>
    </div>
    <footer th:replace="~{index :: footer}"></footer>
</body>
</html>

